extends layout
block content
  body
    .container
      .row
        .col-sm-12.col-md-12.col-md-offset-3.col-sm-offset-3.card.item-card.card-block
          h1 User Profile
          hr
          h2 My Orders
          each order in orders
            .panel.panel-default
              .panel-body
                ul.list-group
                  each order in orders
                    li.list-group-item
                      span.badge #{order.cart.items.price}
                      |                                 #{ order.cart.items.price } | #{ order.cart.qty } Units
            .panel-footer
              strong Total Price: #{ order.cart.totalPrice }
              strong Total Price: #{ order.cart.price }
